.thumbnail-container { 
    text-align: center;
}

.thumbnail-image {
    margin: 10px;
    width: 150px;
    height: 150px;
    filter: drop-shadow(4px 0 0.35rem black);
    background: white;
}

.thumbnail-title {
    max-width: 250px;
    font-size: .35em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail-href-title {
    text-decoration: none;
    color: inherit;
}

.thumbnail-subtitle {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 200px;
    height: 200px;
  }

  .thumbnail-title {
     max-width: 200px;
     font-size: .25em;
  }

  .thumbnail-subtitle {
    font-size: .15em;
  }
}

@media screen and (min-width: 1024px) {
  .thumbnail-image {
    width: 275px;
    height: 275px;
  }

  .thumbnail-title {
    max-width: 300px;
    font-size: .25em;
  }

  .thumbnail-subtitle {
    font-size: .15em;
  }
}