# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# vim swap files
*.swp
*.swn
*.swo

# transpiled assets
/dist
/build
