.main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 75px auto;
  grid-template-areas:
    "h h h h . . . . . . . ."
    "sb sb sb sb sb sb sb sb sb sb sb sb"
    "main main main main main main main main main main main main";
  color: #fff;
  font-family: 'Roboto',sans-serif;
}

.header {
  grid-area: h;
}

.search-bar {
  grid-area: sb;
}

.main-content {
  grid-area: main;
}

/* desktop */
@media (min-width: 1275px) {
  .main {
    grid-template-areas:
    "h h h h . . . . . . . ."
    ". . . . sb sb sb sb . . . ."
    "main main main main main main main main main main main main"; 
  }
  }