/* mobile */

.search {
  display: inline-flex;
  filter: drop-shadow(0 0 0.75rem black);
  width: 100%;
}
.search-box,
.search-button {
  font-size: 1.75rem;
  text-align: center;
}

.search-box {
  width:100%; 
}

.search-button {
  width: 60px;
  height: 60px;
}

.search-icon {
  background: none;
  width: 53px;
  height: auto;
  border: none;
}


/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .search-box {
    font-size: 35px;
  
  }

  .search-button {

    font-size: 50px;

  }
}



/* desktop */
@media (min-width: 1275px) {
  
  .search-box,
  .search-button {
    font-size: 30px; 
  } 
  .search-box {
    width: 500px;
  } 
}







