/* mobile */

.search {
  display: inline-flex;
  filter: drop-shadow(0 0 0.75rem black);
}
.search-box,
.search-button {
  font-size: 1.75rem;
  text-align: center;
  border-color: white;
}

.search-box {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  border-radius: 20px 0 0 20px;
}

.search-button {
  width: 60px;
  height: 60px;
  padding-top: 1px;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 20px 20px 0;
}

.search-icon {
  background: none;
  width: 53px;
  height: auto;
  border: none;
}


/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .search-box {
    font-size: 35px;
  
  }

  .search-button {

    font-size: 50px;

  }
}



/* desktop */
@media (min-width: 1275px) {
  
  .search-box,
  .search-button {
    font-size: 30px;
    
  }

  
  
}






