<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>LBMDRP</title>

  {% block styles %}
  <link rel="stylesheet" media="screen" href="stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <script language= "javascript" type="text/javascript" src="index.js"></script>
  {% endblock %}
</head>
<body>
  {% block header %}
    {% include 'partials/header.html' %}
  {% endblock %}

  {% block content %}
    <div class="empty-body"></div>
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock %}

  {% block scripts_bottom %}
  {% endblock %}
</body>
</html>
