body {
	margin: auto;
	background-image: url("/images/page_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#header {
	width: 100%;
	margin-top: 25px;
}

.logo {
	font-family: 'Orbitron', sans-serif;
	color: white;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	font-size: 500%;
	text-align: center;
	letter-spacing: 15px;
	width: 80%;
	/*background: black;*/
	margin: auto;
}

.blurb {
	font-family: 'Poiret One', cursive;
	float: right;
	font-size:20px;
	color: white;
	padding-right: 25%;
}

.box {
    margin: 0 auto;
    margin-top: 150px;
    width: 15%;
    height: 50px;
    padding-right: 75px;

}
.main {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.main input#search{
    width: 300px;
    height: 50px;
    background: gray;
    /*border: none;*/
    font-size: 25px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: black;
}

.seperator {
    height: 200px;
    width: 100%;
    clear: both;
}

#footer {
    margin: auto;
    height: 20%;
    clear: both;
}

.footerlogo{
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-size: 150%;
    text-align: center;
    letter-spacing: 15px;
    width: 100%;
    /*background: black;*/
}
