/* mobile/global */

/* layout styles */
.home-page-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 75px auto;
  grid-template-areas:
    "l l l l l l"
    "pl pl np np f f"
    "pl pl r r f f";
}

#login {
  grid-area: l;
}

#now-playing {
  grid-area: np;
}

#releases {
  grid-area: r;
}

#playlists {
  grid-area: pl;
}

#following {
  grid-area: f;
}

/* content styles */
.link {
  color: white;
  text-decoration: none;
}

.spotify-login {
  width: 180px;
}

h3 {
  font-family: 'Monoton';
  font-size: 16px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .search-result-item {
    font-size: 2em;
    width: 30%;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .search-result-item {
    padding: 10px;
    font-size: 5rem;
    width: 300px;
    margin-top: 25px;
  }
  .artist-thumbnail {
    margin: 0;
  }
  .link {
    font-size: 25px;
  }
}
