/* mobile */
.link {
  color: white;
  text-decoration: none;
}

.search-results {
  list-style-type: none;
  list-style: none;
  width: 100%;
}

.search-result-item {
  align-items: center;
  padding: 10px;
  font-size: 5rem;
  color: white;
}

.search-result-item:hover {
  background-color: rgb(255, 255, 255, .1);
  color: #545454;
}

.artist-thumbnail {
  margin-right: 25px;
}

.artist-thumbnail>img,
.placeholder-thumbnail>img {
  width: 150px;
  height: 150px;
  background: white;
  filter: drop-shadow(0 0 0.75rem black);
}

.placeholder-thumbnail {}


/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {


  .search-result-item {

    font-size: 2em;

  }

}

/*desktop*/

@media (min-width: 1275px) {
  .search-results {
    display: flex;
    flex-wrap: wrap;
  }
  .search-result-item {
    padding: 10px;
    font-size: 5rem;
    width: 350px;
    text-align: center;
    margin-top: 25px;
  }
  .artist-thumbnail {
    margin: 0;
  }
  .link {
    font-size: 25px;
  }
}
