body {
  /* background: url("/images/example4.jpeg") no-repeat center center fixed; */
  background: url("/images/blurryBackground.jpeg") no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
