body {
  background: url("/images/page_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;


}

.container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: minmax(10%, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header search search"
  "newrelease newrelease newrelease newrelease newrelease"
  "news news news news news"
  "footer footer footer footer footer"

}
