
/* Top image styles */
.artist-details {
  color: white;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.artist-name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.artist-image {
  display: block;
  margin: 0 auto;
  width: 40%;
  border-radius: 50%;
}

.spotify-uri {
  margin: 30px 0 75px 0;
  font-size: 1.5rem;
}

.spotify-uri > a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

.artist-albums {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.artist-album {
  margin: 1%;
  width: 48%;
  font-size: 1em;
  color: white;
  background-color: #757575;
  border: 1px solid;    
}

/* tablet */
@media only screen and (min-width: 768px) {
  .artist-album {
    width: 30%;
  }

  .artist-image {
    width: 20%;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .artist-album {
    padding: 10px;
    font-size: 1.5em;
    width: 300px;
    margin-top: 25px;
  }

  .artist-image {
    width: 15%;
  }  
}
