/* mobile */
.link {
  color: white;
  text-decoration: none;
}

.search-results {
  list-style-type: none;
  list-style: none;
  width: 100%;
}

.search-result-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 35px;
  font-size: 45px;
  color: white;
}

.search-result-item:hover {
  background-color: rgb(255, 255, 255, .9);
  color: #545454;
}

.artist-thumbnail {
  margin-right: 25px;
}

.artist-thumbnail>img,
.placeholder-thumbnail>img {
  width: 95px;
  height: 95px;
  background: white;
}

.placeholder-thumbnail {}


/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {


  .search-result-item {

    font-size: 2em;

  }

}

/*desktop*/

@media (min-width: 1275px) {

  .search-result-item {
    font-size: 25px;
  }
}
